<div class="col-sm-3 col-md-2 sidebar">
                    <ul class="nav nav-sidebar">
                        <li class="active"><a href="#">新闻管理 <span class="sr-only">(current)</span></a></li>
                        <li><a href="/admin/news?lang=en">英文列表</a></li>
                        <li><a href="/admin/news?lang=zh-cn">中文列表</a></li>
                        <li><a href="/admin/news?lang=zh-tw">台湾列表</a></li>
                        <!-- 
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Export</a></li> -->
                    </ul>
                    <!-- <ul class="nav nav-sidebar">
            <li><a href="">Nav item</a></li>
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
            <li><a href="">More navigation</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
          </ul> -->
                </div>