@import '../base.less';

.component{
    position:   fixed;
    width:      @aside-width;
    top:        0;
    left:       0;
    height:     100%;
    border-top: @header-height solid transparent;
    background: hsl(0, 0%, 98%);
    border-right: 1px solid fade(#000, 10%);
}