@import '../base.less';

.component{
    height:     @header-height-home;
    position:   fixed;
    // height:     @height;
    background: @color-accent;
    color:      fade(#fff, 95%);
    overflow:   hidden;
    top:        0;
    left:       0;
    width:      100%;
    z-index:    10;
    transform:  translateY( (@header-height - @header-height-home) );

    .title{
        position:   absolute;
        height:     @header-height-home;
        bottom:     0;
        left:       0;
        right:      0;
        opacity:    0;
        vertical-align:	middle;
        text-align: center;

        &:after{
            content:		"";
            display:		inline-block;
            vertical-align:	middle;
            width:			0;
            height:			100%;
            overflow:		hidden;
        }

        h1{
            display:    inline-block;
            position:   relative;
            z-index:    2;
            line-height:1.1em;
            vertical-align:	middle;
            transition: none;

            color:      inherit;
            margin:     0 auto;
            font-size:  48px;
            line-height:1.2em;
        }
        .sub{
            display:    block;
            font-size:  16px;
            font-weight:100;
            line-height:1.2em;
            padding-top:.5em;
            letter-spacing: .15em;
        }
    }

    .nav{
        opacity:    1;
        position:   absolute;
        bottom:     0;
        left:       0;
        right:      0;
        height:     @header-height;
        line-height:@header-height;
        font-size:  16px;
        text-align: center;
        z-index:    2;
    }
        .nav-item{
            display:    inline-block;
            color:      fade(#fff, 95%);
            margin:     0 .5em;
            padding:    0 10px 0 30px;
            position:   relative;
            .icon{
                position:   absolute;
                top:        50%;
                margin-top: -8px;
                left:       10px;
                transition: none;
            }
            &.on{
                // background: @theme-orange-a700;
                // &:after{
                //     content:    "";
                //     position:   absolute;
                //     bottom:     0;
                //     left:       0;
                //     right:      0;
                //     height:     5px;
                //     background: @theme-orange-a100;
                // }
                &:before{
                    @size:      8px;
                    content:    "";
                    position:   absolute;
                    top:        0;
                    left:       50%;
                    margin-left:(0 - @size / 2);
                    width:      0;
                    height:     0;
                    border:     @size solid transparent;
                    border-top-color: #fff;
                }
            }
        }
}

[data-pathname="/"] .component {
    height:     @header-height-home;
    transform:  translateY( 0 );

    .title{
        opacity:    1;
        z-index:    2;
    }
    .nav{
        opacity:    0;
        z-index:    1;
    }
}